<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="menu my-4">
          <ul class="d-flex flex-column flex-md-row separator ">
            <li class="flex-fill">
              <a asp-action="Index" resource="100">Home</a>
            </li>
            <li class="flex-fill">
              <a asp-action="Services" resource="101">Services</a>
            </li>
            <li class="flex-fill">
              <a asp-action="About" resource="112">About</a>
            </li>
            <li class="flex-fill">
              <a asp-action="Partners" resource="103">Partners</a>
            </li>
            <li class="flex-fill">
              <a asp-action="Education" resource="113">Education</a>
            </li>
            <li class="flex-fill">
              <a asp-action="Contact" resource="105">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-4">
            <img src="/image/logo-black.svg" class="img-fluid logo" />
          </div>
          <div class="col-8">
            <p resource="106">
              At BIGQX, we are on a mission to democratize investing and empower individuals from all walks of life
              to take control of their financial destiny.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="newsletter">
          <label for="email" resource="107">NEWSLETTER</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="email" placeholder="@_localizer.GetString("Your Email")">
            <div class="input-group-append">
              <button class="btn btn-danger" type="submit" resource="108">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="social-icon text-center">
          <div class="d-flex">
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </div>
            <div class="flex-fill header-social-icons">
              <a href="#!">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-3">
      <ul class="d-flex flex-column flex-md-row text-center copyrights separator">
        <li class="flex-fill">© @DateTime.Now.Year BIGQX</li>
        <li class="flex-fill"><a asp-controller="Home" asp-action="Privacy" resource="11109">KYC / AML Policies</a></li>
        <li class="flex-fill"><a href="#!" resource="110">Terms of Service</a></li>
        <li class="flex-fill"><a asp-action="Contact" resource="111">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
<!--113-->