<ul class="d-flex m-auto">
  <li>
    <a class="dropdown-item" href="/en">
      <img class="flag" src="~/image/flag/gb.svg" />
      
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="/ar">
      <img class="flag" src="~/image/flag/sa.svg" />
      
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="/fa">
      <img class="flag" src="~/image/flag/ir.svg" />
      
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="/tr">
      <img class="flag" src="~/image/flag/tr.svg" />
      
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="/pt">
      <img class="flag" src="~/image/flag/pt.svg" />
      
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="/es">
      <img class="flag" src="~/image/flag/es.svg" />
      
    </a>
  </li>
</ul>