<div class="d-flex" style="margin-top: .2rem;">
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>
  <div class="flex-fill header-social-icons">
    <a href="#!">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
</div>
