<div class="main container">
  <section class="contact-section-1">
    <div class="w-100 row">
      <div class="col-md-6">
        <h1 class="hero-heading rtl-rtl" resource="300">
          Have
          a question
          or need
          assistance?
        </h1>
        <p class="hero-text rtl-rtl" resource="301">
          Our support team is here to help.
          Reach out and we’ll be glad to
          address your queries.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid" src="/image/contact/questions.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-column mx-lg-5 px-lg-5 text-center">
      <div>
        <p class="help-form-text rtl-rtl" resource="302">
          Complete the form below to express your interest in partnering with BIGQX.
          We are more than happy to help.
        </p>
      </div>

      <div class="rtl-rtl">
        <form action="" class="row mt-5 text-center">
          <div class="form-group col-12 col-md-6 mb-4">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="@_localizer.GetString("Your Name")">
          </div>
          <div class="form-group col-12 col-md-6 mb-4">
            <input type="email" class="form-control" placeholder="@_localizer.GetString("Your Email")">
          </div>
          <div class="form-group col-12 mx-auto mb-4">
            <textarea class="form-control" rows="3" placeholder="@_localizer.GetString("The Message")"></textarea>
          </div>
          <button type="submit" class="btn btn-danger w-25  mx-auto" resource="303">Send</button>
        </form>
      </div>
    </div>
  </section>
</div>
