<div>
  <section class="intro mt-0">
    <div class="bg" style="background-image: url(/image/slider2.jpg); height: 800px;">
      <div class="container">
        <div class="text text-white">
          <div class="absolute text-center rtl-rtl">
            <h6 resource="400">Welcome to</h6>
            <h1 resource="401">BIGQX</h1>
            <h4 resource="402">Your Gateway to Smarter Investing!</h4>
            <h3 resource="403">Investing Made Simple,<br>Social, and Rewarding</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section-2">
    <div class="container">
      <div class="text text-center rtl-rtl">
        <h6 resource="404" >What We Provide:</h6>
        <h3 resource="405">We open new horizons for investors like you.</h3>
        <p resource="406">
          We go beyond traditional investing to create a community-driven
          platform creating new opportunities. Our innovative approach
          combines the power of cutting-edge technology with the wisdom of
          the crowd. We provide a seamless and intuitive interface that allows
          you to invest in diverse assets, including stocks, cryptocurrencies, forex,
          commodities, and more.
        </p>
      </div>
    </div>
  </section>

  <section class="home-section-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="box-red z-n1"></div>
          <div class="text-end">
            <img class="w-100" src="/image/home-section-2.png" alt="">
          </div>
        </div>
        <div class="col-12 col-md-6 text-center text-md-start">
          <div style="max-width: 450px;" class="rtl-rtl">
            <h3 resource="407">Investor Education at Your Fingertips:</h3>
            <p resource="408">
              Knowledge is the foundation of successful investing. That’s why we offer a wealth of
              educational resources designed to cater to investors of all levels. Whether you’re a
              beginner looking to understand the basics or an experienced trader seeking advanced
              techniques, our comprehensive learning materials are here to empower you every step of the way.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-section-4">
    <div class="container">
      <div class="text-center my-5">
        <h3 class="title" resource="409">Discover Our Services</h3>
      </div>
      <div class="row rtl-rtl">
        <div class="col-md-4">
          <div class="text-center service-card">
            <div class="">
              <img src="/image/doller.svg" alt="" srcset="">
            </div>
            <div class="my-4 text ">
              <h4 resource="410">Multi-Asset Investment</h4>
              <a asp-action="Services" class="btn btn-danger my-4" resource="411">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center service-card">
            <div class="">
              <img src="/image/investor-education.svg" alt="" srcset="">
            </div>
            <div class="my-4 text">
              <h4 resource="412">Social Collaboration</h4>
              <a asp-action="Services" class="btn btn-danger my-4" resource="413">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center service-card">
            <div class="">
              <img src="/image/book.svg" alt="" srcset="">
            </div>
            <div class="my-4 text">
              <h4 resource="414">Investor Education</h4>
              <a asp-action="Services" class="btn btn-danger my-4" resource="418">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center my-5 rtl-rtl" resource="415">
        Get access to a wide range of services & cater to your diverse investment needs
      </p>
    </div>
  </section>

  <section class="home-section-5 mb-0">
    <div class="">
      <div class="text-center">
        <img src="/image/red-rectangle.svg" alt="" srcset="" class="red-rectangle">
      </div>
      <div class="absolute rtl-rtl">
        <div>
          <h5 class="text-center" resource="416">Ready to Get Started?</h5>
        </div>
        <div class="text mt-5">
          <p resource="417">
            Seize the opportunity to transform your investment journey. Join BIGQX today and experience the power of
            social investing, advanced technology, and expert education. Your financial success is just a few clicks
            away.
          </p>
        </div>
      </div>
      <div class="text-center">
        <img src="/image/rear-view-businessman-talking-phone-top-building.png" alt=""
             class="img-businessman-talking-phone img-fluid">
      </div>
    </div>
  </section>
</div>
<!--418-->