<div>
  <!-- Partner -->
  <section class="partner-section-1">
    <div class="image text-center">
      <img src="/image/partner.jpg" alt="" srcset="" class="img-fluid">
      <div class="absolute">
        <div class="text text-start rtl-rtl">
          <h2 class="" resource="500">Unlocking Success Together</h2>
          <h1 class="" resource="501">Our Partnerships for Prosperity</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="partner-section-2  rtl-rtl">
    <div class="container">
      <div class="text-center">
        <p class="my-5 mx-auto rtl-rtl" style="max-width: 600px;" resource="502">
          We choose to work with clients who stand out from the crowd.
          Our partnerships are nurtured
          with care and are built on mutual values, shared goals, and a vision for a brighter financial future.
        </p>
        <div class="partner-logo my-5">
          <img src="/image/logo-black.svg" alt="" srcset="" class="img-fluid">
        </div>
        <div class="my-5">
          <h4 class="font-3 fw-6 rtl-rtl" resource="503">This is what they say about us!</h4>
        </div>
      </div>
      <div class="">
        <div class="row my-10 justify-content-center">
          <div class="col-md-4 col-lg-3 col-lg-2 text-center">
            <img src="/image/user.svg" alt="" srcset="" class="img-fluid">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="vertical-align-middle-partner mt-3">
              <div class="vertical-align-middle-child">
                <p class="text-start rtl-rtl" resource="504">
                  “BIGQX’s global reach has transformed our investment strategies. Their diverse
                  community exposed us to new opportunities, enabling our investments to flourish internationally.”
                </p>
                <p class="text-end " resource="505">John D., CEO of a Corporation.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-10 justify-content-center">
          <div class="col-md-4 col-lg-3 col-lg-2 text-center d-block d-md-none">
            <img src="/image/user.svg" alt="" srcset="" class="img-fluid">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="vertical-align-middle-partner mt-3">
              <div class="vertical-align-middle-child">
                <p class="text-start rtl-rtl" resource="506">
                  “Collaborating with BIGQX has been a game-changer. Their expert insights and
                  educational resources have empowered us to make informed decisions and maximize returns.”
                </p>
                <p resource="509" class="text-end">Emily W., Investment Manager at a Fund</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 col-lg-2 text-center d-none d-md-block">
            <img src="/image/user.svg" alt="" srcset="" class="img-fluid">
          </div>
        </div>
        <div class="row my-10 justify-content-center">
          <div class="col-md-4 col-lg-3 col-lg-2 text-center">
            <img src="/image/user.svg" alt="" srcset="" class="img-fluid">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="vertical-align-middle-partner mt-3">
              <div class="vertical-align-middle-child">
                <p class="text-start rtl-rtl" resource="507">
                  “BIGQX’s social collaboration features fostered a unique community for us to
                  engage
                  and exchange ideas. Networking with like-minded investors elevated our investing acumen.”
                </p>
                <p class="text-end" resource="508">Mark L., Cryptocurrency Enthusiast</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end partner -->
</div>
<!--510-->